<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Update brewery</h3>
      </div>
      <div class="div card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Name</label>
            <input [(ngModel)]="breweryData.name" name="name" type="text" class="form-control rounded-0" required>
          </div>
          <button (click)="updateBrewery()" type="button" class="btn btn-primary float-right">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>